<main class="content">
  <div class="db-container background-style">
    <div class="background-style">
      <div style="font-size: 30px"><strong>Pokemon Database</strong></div>
      <div> This is a full list of every Pokémon from all
        8 generations of the Pokémon series, along with their main stats.
      </div>
    </div>

    <table class="pokemon-data background-style" >
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Type</th>
        <th>Total</th>
        <th>HP</th>
        <th>Attack</th>
        <th>Defence</th>
        <th>Sp.Atk</th>
        <th>Sp.Def</th>
        <th>Speed</th>
      </tr>

      <% @pokemon[0..150].each_with_index do |pokemon,index| %>
        <% if index%2 == 0 %>
          <tr class="data-row grey">
            <td class="col-pic">
              <figure class="pokemon-pic">
                <%= image_tag('https://' + pokemon.icon)%>
              </figure>
              <% case pokemon.pokedex.to_s.length
                  when 1%><%= '00' + pokemon.pokedex.to_s%>
                <%when 2%><%= '0' + pokemon.pokedex.to_s%>
                <%when 3%><%=  pokemon.pokedex.to_s%>
              <% end %>
            </td>
            <td class="col-name"><%= pokemon.name%></td>
            <td class="col-types"><%= render pokemon.poke_types %></td>
            <td class="col-total"><%= pokemon.total %></td>
            <%= render pokemon.stats %>
          </tr>
        <% else %>
          <tr class="data-row">
            <td class="col-pic">
              <figure class="pokemon-pic">
                <%= image_tag('https://' + pokemon.icon)%>
              </figure>
              <% case pokemon.pokedex.to_s.length
                  when 1%><%= '00' + pokemon.pokedex.to_s%>
                <%when 2%><%= '0' + pokemon.pokedex.to_s%>
                <%when 3%><%= pokemon.pokedex.to_s%>
              <% end %>
            </td>
            <td class="col-name"><%= pokemon.name%></td>
            <td class="col-types"><%= render pokemon.poke_types %></td>
            <td class="col-total"><%= pokemon.total %></td>
            <%= render pokemon.stats %>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>

</main>



