<main class="content">
  <div class="db-container background-style">
    <table class="pokemon-data background-style" >
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Type</th>
        <th>Total</th>
        <th>HP</th>
        <th>Attack</th>
        <th>Defence</th>
        <th>Sp.Atk</th>
        <th>Sp.Def</th>
        <th>Speed</th>
      </tr>

      <% @pokemon[0..20].each_with_index do |pokemon,index| %>
        <% if index%2 == 0 %>
          <tr class="grey">
            <td class="col-pic">
              <figure class="pokemon-pic">
                <%= image_tag('https://' + pokemon.icon)%>
              </figure>
              <% case pokemon.pokedex.to_s.length
                  when 1%><%= '00' + pokemon.pokedex.to_s%>
                <%when 2%><%= '0' + pokemon.pokedex.to_s%>
                <%when 3%><%=  pokemon.pokedex.to_s%>
              <% end %>
            </td>
            <td class="col-name"><%= pokemon.name%></td>
            <td class="col-types"><%= render pokemon.poke_types %></td>
            <td class="col-total"><%= pokemon.total %></td>
            <%= render pokemon.stats %>
          </tr>
        <% else %>
          <tr>
            <td class="col-pic">
              <figure class="pokemon-pic">
                <%= image_tag('https://' + pokemon.icon)%>
              </figure>
              <% case pokemon.pokedex.to_s.length
                  when 1%><%= '00' + pokemon.pokedex.to_s%>
                <%when 2%><%= '0' + pokemon.pokedex.to_s%>
                <%when 3%><%= pokemon.pokedex.to_s%>
              <% end %>
            </td>
            <td class="col-name"><%= pokemon.name%></td>
            <td class="col-types"><%= render pokemon.poke_types %></td>
            <td class="col-total"><%= pokemon.total %></td>
            <%= render pokemon.stats %>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>

</main>



