<td class="col-stat"><%= stat.hp %></td>
<td class="col-stat"><%= stat.attack %></td>
<td class="col-stat"><%= stat.defence %></td>
<td class="col-stat"><%= stat.sp_atk %></td>
<td class="col-stat"><%= stat.sp_def %></td>
<td class="col-stat"><%= stat.speed %></td>

